* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}
.container {
    max-width: 1280px;
    margin: 346px auto 0 auto;
}
.box {
    background-color: salmon;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 4px 5px;
}
.easy-box {
    width: 236px;
    height: 150px;
}
.medium-box {
    width: 236px;
    height: 200px;
}
.hard-box {
    width: 236px;
    height: 232px;
}
.mini-box {
    width: 18px;
    height: 18px;
    background-color: antiquewhite;
    text-align: center;

}
.number {
    line-height: 18px;
    font-size: 8px;
}
/* transform */
.hidden {
    display: none;
}
.transform {
    transform: scale(4);
    transition: 1s;
}

