* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}
.container {
    max-width: 1280px;
    margin: 300px auto 0 auto;
}
.box {
    width: 250px;
    height: 150px;
    background-color: salmon;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 5px;
}
.mini-box {
    width: 20px;
    height: 20px;
    background-color: antiquewhite;

}
/* transform */
.hidden {
    display: none;
}
.transform {
    transform: scale(4);
    transition: 1s;
}